body{
    text-align: center;
    font-size: 22px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: cetner;
  
}
.logo{
    background-color: grey;
    width: 20%;
}
.navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
  }

  .navbar p {
    display: inline-block;
    padding: 10px 10px;
  }

.mission {
  display: flex;
  height: 300px;
  background-image: url("./images/Car-Design-Drawing-From-Shoulder.jpg");
  background-position: 25% 34%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;
}
.mission .content {
    margin: auto;
    background-color: white;
    width: 100%;
    opacity: 90%;
  }

  #portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
  }

  .wraps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .cars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  .cars img {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 10px;
    height: auto;
  }
  
  .cars span {
    padding: 5px;
    min-width: 200px;
    font-weight: bold;
    text-align: center;
  }

  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("./images/360_F_509113530_LrGaBxAcdXXusk2qIwabEBj4aEUlaRMi.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
  }
  
    .teammember{
    padding: 10px;
    color: black;
    flex-basis: 280px;
  }
  .teammember img {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 10px;
    height: auto;
  }